body{
    position: relative;
    width: 1440px;
    height: 2719px;
    
    background: #FEFEFB;    
}

.header{
    position: absolute;
    width: 1200px;
    height: 38px;
    left: 120px;
    top: 40px;
}

.header__list{
    position: absolute;
    width: 344px;
    height: 22px;
    left: 299px;
    top: 48px; 
}

.header__item{
    position: absolute;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #3A3C41;
    
}